body
{
  background-image: url("../../assets/backgrond2.jpg");
  background-repeat: no-repeat,repeat-x;
  background-size: 100% 100%;
  background-attachment:fixed;
  color: antiquewhite;
}
h1{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: rgb(74, 64, 218);
}
th
{
	border:3px solid #3366ff;
    color:#2323a8;
    padding: 10px;
}
td
{
	color:rgb(34, 11, 107);
	border:3px solid #00004d;
}
table
{
	border:3px solid #042250;
	margin:auto;
	margin-bottom:2%;
	font-size:25px;
	font-weight: bold;
}
td:hover
{
	background-color: #ddd;
}
tr
{
	color:#cc0000;
	text-align:center;
}

.nav-bar{
	margin: 0 auto;
}

.nav-bar ul{
	list-style: none;
}

.nav-bar ul li {
	background: #0a1469;
	width: 170px;
	border: 1px solid #d0d1dd;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
	color: #fff;
	font-size: 18px;
	position: relative;
	font-family: poppins;
	text-transform: uppercase;
	font-weight: bold;
}

.nav-bar ul li:hover{
	background: rgb(31, 4, 148); 
}
	
.nav-bar ul ul{
	display: none;
}
.nav-bar ul li:hover > ul{
	display: block;
}
.link{
	text-decoration: none;
	color: white;
}